
#body {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
}

[data-top-tooltip] {
    position: relative;
    --tooltip-color: rgba(0, 0, 0, 0.9);
}

[data-top-tooltip]:before {
  content: attr(data-top-tooltip); /* here's the magic */
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  bottom: 100%;
  margin-bottom: 15px;

  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align:center;

  background: var(--tooltip-color);

  display: none; /* hide by default */
}

[data-top-tooltip]:after {
  content: "";
  position:absolute;
  
  bottom: 100%;
  margin-bottom: -5px;
 
  left: 50%;
  transform:translateX(-50%);

  border: 10px solid #000;
  border-color: var(--tooltip-color) transparent transparent transparent;

  display: none;
}

[data-top-tooltip]:hover:before, [data-top-tooltip]:hover:after {
  display: block;
}


[data-left-tooltip] {
    position: relative;
    --tooltip-color: rgba(0, 0, 0, 0.9);
}

[data-left-tooltip]:before {
  content: attr(data-left-tooltip); /* here's the magic */
  position: absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  right: 100%;
  margin-right: 15px; /* and add a small left margin */

  /* basic styles */
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;

  background: var(--tooltip-color);

  display: none; /* hide by default */
}

[data-left-tooltip]:after {
  content: "";
  position:absolute;

  right: 100%;
  margin-right: -5px; /* and add a small left margin */

  /* vertically center */
  top:50%;
  transform:translateY(-50%);

  /* the arrow */
  border: 10px solid #000;
  border-color: transparent transparent transparent var(--tooltip-color);

  display: none;
}

[data-left-tooltip]:hover:before, [data-left-tooltip]:hover:after {
  display: block;
}
