.content {
  padding-top: var(--padding-2);
  max-width: 600px;
  margin: auto;
}

.content input {
  margin: 4px;
}

.content h1 {
  text-align: center;
}

.content p,
.content label {
  line-height: calc(var(--paragraph-font-size) + var(--padding));
}

.content code {
  font-size: var(--paragraph-font-size);
  font-weight: bolder;
}

.content a {
  color: var(--link-color);
}

.content a:visited {
  color: var(--visited-link-color);
}

.badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 32px;
}
