
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';

.layout {
    --navbar-height: 52px;
    --sidebar-width: 216px;
    --padding: 8px;
    --padding-2: calc(var(--padding) * 2);
    --padding-3: calc(var(--padding) * 3);
    --border-radius: 6px;
    --heading-font-size: 36px;
    --heading-2-font-size: 28px;
    --heading-3-font-size: 22px;
    --paragraph-font-size: 14px;
    --small-font-size: 12px;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    position: absolute;
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, system-ui, sans-serif;
}

.content {
    margin-top: calc(var(--navbar-height) + var(--padding));
    margin-left: var(--sidebar-width);
    margin-right: var(--padding);
    margin-bottom: var(--padding);
    padding: var(--padding-2);
    padding-left: var(--padding-2);
    padding-right: var(--padding-2);
    border-radius: var(--border-radius);
    max-width: 800px;
}

@media only screen and (min-width: 1232px) {
    .content {
        margin-left: auto;
        margin-right: auto;
    }
}

.content h1 {
    font-size: var(--heading-font-size);
    font-weight: bolder;
}

.content h2 {
    font-size:  var(--heading-2-font-size);
    font-weight: bolder;
}

.content h3 {
    font-size: var(--heading-3-font-size);
    font-weight: bolder;
}

.content p, .content span {
    font-size: var(--paragraph-font-size);
}

.content button, .content input[type="button"] {
    display: block;
    margin-top: var(--padding);
    margin-bottom: var(--padding);
}

.content small {
    font-size: var(--small-font-size);
}

.content h1, .content h2, .content h3, .content p {
    margin-block-start: var(--padding);
    margin-block-end: var(--padding);
}
