@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap";

.layout {
  --padding: 8px;
  --padding-2: calc(var(--padding) * 2);
  --padding-3: calc(var(--padding) * 3);
  --border-radius: 6px;
  --heading-font-size: 36px;
  --heading-2-font-size: 28px;
  --heading-3-font-size: 22px;
  --paragraph-font-size: 14px;
  --small-font-size: 12px;
  --navbar-height: 52px;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  position: relative;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, system-ui, sans-serif;
}

.content {
  padding-top: var(--navbar-height);
}
