/* body {
  margin: 0;
  padding: 0;
  --width: 400px;
  --height: 601px;
  width: var(--width);
  min-height: var(--height);
}

#body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: var(--width);
  min-height: var(--height);
} */
