.searchField {
  display: inline-grid;
  grid-template-columns: min-content auto min-content;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding-left: var(--padding);
  padding-right: var(--padding);
  grid-column: 3;
}

.searchField:focus-within {
  outline: var(--search-field-focus-outline) solid 1px;
}

.searchField > * {
  align-self: center;
}

.searchField input {
  width: calc(100% - var(--padding));
  height: calc(100% - var(--padding) * 2);
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 0px;
  padding: 8px;
  color: var(--search-field-text-color);
}

.searchField input::placeholder {
  color: var(--search-field-text-color);
}

.searchField input:focus {
  outline-width: 0;
}

.searchFieldIcon {
  --icon-size: calc(var(--navbar-height) - var(--padding) * 4.5);
  height: var(--icon-size);
  width: var(--icon-size);
  fill: var(--primary-text-color);
}

.searchFieldClearIcon {
  --icon-size: calc(var(--navbar-height) - var(--padding) * 4.25);
  height: var(--icon-size);
  width: var(--icon-size);
  cursor: pointer;
  fill: var(--primary-text-color);
}
