
.searchResults {
    font-size: 14px;
}

.searchResultsDay {
    background-color: var(--secondary-bg-color);
    border-radius: var(--padding);
    padding: var(--padding-2);
    margin-top: var(--padding-2);
    display: flex;
    flex-direction: column;
    row-gap: var(--padding);
}

.searchResultsDaySticky {
    top: calc(var(--navbar-height) + var(--padding));
    position: sticky;
}

.searchResults a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.searchResultsItem {
    display: grid;
    grid-template-columns: min-content min-content min-content auto;
    align-items: center;
    column-gap: var(--padding-2);
    margin-top: var(--padding);
    margin-bottom: var(--padding);
}

.searchResultsItemChild {
    composes:  searchResultsItem;
    margin-top: 0;
}

.searchResultsItemContent {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--padding) / 2);
    overflow: hidden;
    white-space: nowrap;
}

.searchResultsItemContentInner {
    display: flex;
    flex-direction: row;
    column-gap: var(--padding-2);
}

.searchResultsItemTime {
    white-space: nowrap;
    overflow: visible;
}

.searchResultsItemCaption {
    font-size: 12px;
    column-gap: var(--secondary-text-color);
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    margin-left: -6px;
}

.searchResultsItemCaption svg {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
}

.childrenExpanded svg {
    transform: none !important;
}

.searchResultsItemCaption svg:hover {
    cursor: pointer;
}

.searchResultsItemTitle {
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.searchResultsItemHost {
    font-style: italic;
    white-space: nowrap;
    overflow: visible;
    color: var(--secondary-text-color);
    padding-right: 4px;
}

.searchResultsItemDetail {
    width: 14px;
    height: 14px;
}

.searchResultsItemDetail:hover {
    cursor: pointer;
}

.searchResultsItemContentInner img {
    width: 16px;
    height: 16px;
}
