.sideBar {
  --item-height: 36px;
  --content-height: calc(var(--item-height) - 2.5 * var(--padding));
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: var(--sidebar-width);
  height: calc(100% - var(--navbar-height) - 9 * var(--padding));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: var(--padding);
  margin-bottom: var(--padding);
  padding-top: calc(7 * var(--padding));
  padding-right: var(--padding);
  overflow: auto;
}

.sideBarComponent {
  padding: var(--padding);
}

.collapsibleSideBarTitle {
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  font-weight: bolder;
  margin-bottom: var(--padding);
}

.collapsibleSideBarTitle svg {
  width: 16px;
  height: 16px;
  transform: none;
  margin-right: var(--padding);
  cursor: pointer;
}

.collapsibleSideBarTitle span {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--padding);
  height: calc(var(--paragraph-font-size) + var(--padding));
}

.collapsed svg {
  transform: rotate(-90deg) !important;
}

.collapsibleSideBarContent {
  padding-left: var(--padding);
}

.seeMore {
  margin-top: var(--padding);
  font-weight: bolder;
  font-size: 12px;
}

.seeMore:hover {
  cursor: pointer;
}

.icon {
  fill: var(--primary-text-color);
}
