
.dark {
    --bg-color: rgb(32, 33, 36);
    --secondary-bg-color: #292a2d;
    --primary-text-color: rgb(232, 234, 237);
    --secondary-text-color: #D1D3DC;
    --search-field-text-color: white;
    --search-field-focus-outline: #CBCBCB;
    --link-color: #87a3ff;
    --visited-link-color: #bc77fc;
}

.light {
    --bg-color: #ffffff;
    --secondary-bg-color: #ededeb;
    --primary-text-color: #000000;
    --secondary-text-color: #535453;
    --search-field-text-color: var(--primary-text-color);
    --search-field-focus-outline: var(--secondary-text-color);
    --link-color: #0000EE;
    --visited-link-color: #551A8B;
}
