
.button {
    color:  var(--bg-color);
    background-color: var(--secondary-text-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: none;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.marginLeft3 {
    margin-left: var(--padding-3);
}

.marginRight3 {
    margin-right: var(--padding-3);
}

.marginTop {
    margin-top: var(--padding);
}

.marginTop2 {
    margin-top: var(--padding-2) !important;
}

.inlineBlock {
    display: inline-block;
}
